.network{
    display: flex;
    background-color: lightgray;
}

.network__container{
    display: flex;
    flex: 1;
    margin-top: 50px;padding-left: 30px;
}

.network__sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.2;
    position: sticky;
    top: 0;
    height: fit-content;
    box-shadow: 4px 3px 2px 2px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;

}

.networks{
    display: flex;
    flex: 0.8;
    width: 100%;
}

.network__sidebar>h1{
    font-size: 20px;
}

.sidebar__lists{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar__lists>ul>li{
    list-style: none;
}

.sidebar__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
}

.sidebar__list:hover{
    cursor: pointer;
    background-color: lightgray;
}

.sidebar__content{
    display: flex;
    gap: 10px;
    align-items: center;
}

.show__less{
    display: flex;
    align-items: center;
    gap: 10px;
}

.networks__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 3px 2px 2px rgba(0, 0, 0, 0.4);
}

.networks__cards{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.networks__heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.networks__heading>h1{
    font-size: 15px;
}

.networks__card{
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 960px){
    .network__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        place-content: center;
        gap: 50px;
        padding: 0px;
    }

    .network__sidebar{
        position: relative;
    }

    .networks__container{
        margin-left: 0px;
        width: 100%;
    }

    .networks__cards{
        width: 100%;
        display: flex;
    }

    .networks__card{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        flex: 1;
    }

    .people{
        padding: 10px;
    }

    .navbar{
        margin-left: 0px;
    }
}